<div>
    <h1>Ajouter Etudiant</h1>
    <label> Nom : </label>
<input type="text"
[(ngModel)]="formulaire.Nom">
&nbsp; <br>
<label> classe:</label>
<input type="text"
[(ngModel)]="formulaire.Classe">
&nbsp; <br>
<label> Note:</label>
<input type="text"
[(ngModel)]="formulaire.note">
&nbsp;<br>
<button
    (click)="addComment()"
    [disabled]="newformulaire"> Ajouter
</button>
</div>
<div *ngIf="formulaireArray.length>0">
    <table border="solid">
        <tr>
   
            <th width="100px">Nom</th>
            <th width="100px">Classe</th>
            <th width="100px">Note</th>
        </tr>
        <tr *ngFor="let f of formulaireArray">
        
           <td>{{f.Nom}}</td>
           <td>{{f.Classe}}</td>
           <td>{{f.note}}</td>
        </tr>
    </table>
    